<!doctype html>
<html lang="en">
	<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
    <script type="module" src="{{host}}/products.js"></script>

	</head>
	<body>
		<header>
			<h1 class="main-title">Home</h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
         <button class="custom-file-upload">
      Checkout items in basket
      </button>
            <a href="/">Home</a>

      
      
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
    
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}

	<main>
   
    
    
     {{#each data}}
  

<div class="card">
        <img class="card-image" src="{{image}}" style="width:100%">
  <h1 id="book-name"> <b> {{bookname}} </b> </h1>
  <p class="price">Price: <b>{{price}} € </b> </p>
  <p><b>Description</b></p>
  <p> {{description}}</p>

  <p><b>EAN: </b>  {{ean}}</p>
			      {{/each}}

  
{{#if authorised}}

<p><button class = "button-custom">Add to cart</button></p>

    
</div>  
        {{/if}}

      





    
    
    
    
	</main>
	</body>
</html>